#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# backup
terraform.tfstate.backup

# provider file
provider.tf

# backend file
backend.tf